## Cleaning order-specific data

In [1]:
import pandas as pd
from sqlalchemy import create_engine


driver = 'mysql+pymysql:'
user = 'adria'
password = '00000'
ip = '35.187.114.125'
database = 'vimet'

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

In [2]:
orders_raw = pd.read_sql('orders', con = engine)

In [3]:
orders_raw.head()

,index,Name,Customer,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,...,Refunded Amount,Id,Risk Level,Source,Discount Code,Notes,Cancelled at,Tags,Tax 1 Name,Tax 1 Value
0,0,#1247,1.0,paid,2019-04-16 18:36:20 +0200,fulfilled,2019-04-16 23:30:49 +0200,yes,EUR,59.0,...,0.0,8.925310e+11,Low,web,None,None,None,None,None,NaN
1,1,#1246,2.0,paid,2019-04-16 02:05:29 +0200,unfulfilled,None,yes,EUR,94.0,...,0.0,8.918520e+11,Low,web,None,None,None,None,None,NaN
2,2,#1246,2.0,None,None,None,None,None,None,NaN,...,NaN,NaN,None,None,None,None,None,None,None,NaN
3,3,#1245,3.0,paid,2019-04-15 23:35:10 +0200,fulfilled,2019-04-16 09:00:25 +0200,yes,EUR,32.5,...,0.0,8.917250e+11,Low,web,None,None,None,None,None,NaN
4,4,#1244,4.0,paid,2019-04-15 09:51:49 +0200,fulfilled,2019-04-15 23:47:18 +0200,yes,EUR,45.0,...,0.0,8.910100e+11,Low,web,None,None,None,None,None,NaN

We have the order-specific info but we have a lot of Nan values corresponding to the rows that only provide item-specific info. Therefore we will keep only the first row of each order.

In [4]:
orders = pd.DataFrame()
for order in list(orders_raw['Name'].unique()):
    orders = orders.append(orders_raw[orders_raw['Name']==order].head(1))

In [5]:
orders.isna().sum()

index                   0
Name                    0
Customer                2
Financial Status        0
Paid at                81
Fulfillment Status      0
Fulfilled at           30
Accepts Marketing       0
Currency                0
Subtotal                0
Shipping                0
Taxes                   0
Total                   0
Discount Amount         0
Shipping Method        10
Shipping City           8
Shipping Zip            8
Note Attributes        17
Payment Method          0
Payment Reference      37
Refunded Amount         0
Id                      0
Risk Level              0
Source                  0
Discount Code         203
Notes                 187
Cancelled at          211
Tags                  236
Tax 1 Name            234
Tax 1 Value           234
dtype: int64

We can see that:
* 'Customer': There is no customer for 2 of the orders
* 'Paid at': 81 orders were not registered as paid
* 'Fullfilled at': 30 orders were not fulfilled
* 'Shipping method': 10 orders do not have shipping method
* 'Shipping city' and 'Billing zip': 8 orders do not have Billing city nor Billing Zip
* 'Shipping country': 7 orders do not have Billing country
* 'Note attributes': 17 orders do not have Note Attributes
* 'Payment reference': 37 orders do not have a payment reference
* 'Discount Code': 203 orders do not have a discout code
* 'Notes': 187 orders do not have notes
* 'Cancelled at': 211 orders were not cancelled
* 'Tags': 236 orders do not have tags
* 'Tax Name' and 'Tax Value': 234 orders do not have tax information

We will now analyse each of the variables with NaN values to correct this issue.

## Solving NaN values

#### Dropping values

We will drop the following variables as do not provide relevant information for the analysis:

'Paid at', 'Fullfilled at', 'Billing Country', 'Note Attributes', 'Payment Reference', 'Cancelled at', 'Tags', 'Tax 1 Name', 'Tax 1 Value'

In [6]:
orders = orders.drop(columns=['Paid at', 'Fulfilled at', 'Note Attributes', 'Payment Reference', 'Cancelled at', 'Tags', 'Tax 1 Name', 'Tax 1 Value'])

In [7]:
#We check the status of the NaN values
orders.isna().sum()

index                   0
Name                    0
Customer                2
Financial Status        0
Fulfillment Status      0
Accepts Marketing       0
Currency                0
Subtotal                0
Shipping                0
Taxes                   0
Total                   0
Discount Amount         0
Shipping Method        10
Shipping City           8
Shipping Zip            8
Payment Method          0
Refunded Amount         0
Id                      0
Risk Level              0
Source                  0
Discount Code         203
Notes                 187
dtype: int64

We don't care about the discount code but we do care whether there was a discount or not.

In [8]:
orders['Discount Code'] = orders['Discount Code'].fillna(value=0)

In [9]:
orders['Discount Code'] = orders['Discount Code'].map(lambda x: 0 if x==0 else 1)

We need to analyse 'Notes' as it will identify test records

In [10]:
orders['Notes'] = orders['Notes'].fillna(value='None')
orders['Notes'] = orders['Notes'].map(lambda x: 'test' if 'prueba' in x else ('test' if 'prova' in x else ('test' if 'Hola' in x else ('test' if 'fdfsdfsdf' in x else ('test' if 'wqweqwe' in x else ('test' if 'hohsadasdasd' in x else ('test' if 'fsdfsfsd' in x else ('test' if 'hola mundo' in x else x))))))))

We now remove all test records

In [11]:
orders = orders[orders['Notes'] != 'test']

In [12]:
#We check the status of the NaN values
orders.isna().sum()

index                  0
Name                   0
Customer               2
Financial Status       0
Fulfillment Status     0
Accepts Marketing      0
Currency               0
Subtotal               0
Shipping               0
Taxes                  0
Total                  0
Discount Amount        0
Shipping Method       10
Shipping City          8
Shipping Zip           8
Payment Method         0
Refunded Amount        0
Id                     0
Risk Level             0
Source                 0
Discount Code          0
Notes                  0
dtype: int64

In [13]:
orders['Shipping Method'].value_counts()

EnvÃ­o estÃ¡ndar                              135
EnvÃ­o gratuito                               52
Recogida en el mercado                       21
El reparto se realiza a travÃ©s de Shargo      4
Name: Shipping Method, dtype: int64

When 'Shipping Method' is NaN, it means that it is delivered by one of the employees. We will fill NaNs with 'Other'

In [14]:
orders['Shipping Method'] = orders['Shipping Method'].fillna(value='Other')

In [15]:
#We check the status of the NaN values
orders.isna().sum()

index                 0
Name                  0
Customer              2
Financial Status      0
Fulfillment Status    0
Accepts Marketing     0
Currency              0
Subtotal              0
Shipping              0
Taxes                 0
Total                 0
Discount Amount       0
Shipping Method       0
Shipping City         8
Shipping Zip          8
Payment Method        0
Refunded Amount       0
Id                    0
Risk Level            0
Source                0
Discount Code         0
Notes                 0
dtype: int64

In [16]:
orders[orders['Shipping City'].isna()]

,index,Name,Customer,Financial Status,Fulfillment Status,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,...,Shipping Method,Shipping City,Shipping Zip,Payment Method,Refunded Amount,Id,Risk Level,Source,Discount Code,Notes
9,9,#1241,0.0,paid,fulfilled,no,EUR,38.94,0.0,0.0,...,Other,None,None,manual,0.0,8.865550e+11,Low,shopify_draft_order,0,None
28,28,#1231,0.0,paid,fulfilled,no,EUR,200.10,0.0,0.0,...,Other,None,None,manual,0.0,8.788850e+11,Low,shopify_draft_order,0,A entregar 6 de abril
40,40,#1228,0.0,paid,fulfilled,no,EUR,54.50,0.0,0.0,...,Other,None,None,manual,0.0,8.776710e+11,Low,shopify_draft_order,0,None
50,50,#1224,0.0,paid,fulfilled,no,EUR,26.16,0.0,0.0,...,Other,None,None,manual,0.0,8.739650e+11,Low,shopify_draft_order,0,None
51,51,#1223,0.0,paid,fulfilled,no,EUR,40.94,0.0,0.0,...,Other,None,None,manual,0.0,8.700700e+11,Low,shopify_draft_order,0,None
73,73,#1214,0.0,paid,fulfilled,no,EUR,51.15,0.0,0.0,...,Other,None,None,manual,0.0,8.617570e+11,Low,shopify_draft_order,0,None
501,501,#1155,NaN,paid,fulfilled,yes,EUR,25.00,0.0,0.0,...,Other,None,None,Stripe,0.0,7.481810e+11,Low,web,0,None
502,502,#1154,NaN,paid,fulfilled,yes,EUR,50.00,0.0,0.0,...,Other,None,None,Stripe,0.0,7.475270e+11,Low,web,0,None

In almost all cases, when the order is delivered by an employee, the Shipping City and Zip are null. We will replace this with 'Unknown'.

In [17]:
orders['Shipping City'] = orders['Shipping City'].fillna(value='Unknown')
orders['Shipping Zip'] = orders['Shipping Zip'].fillna(value='Unknown')

In [18]:
#We check the status of the NaN values
orders.isna().sum()

index                 0
Name                  0
Customer              2
Financial Status      0
Fulfillment Status    0
Accepts Marketing     0
Currency              0
Subtotal              0
Shipping              0
Taxes                 0
Total                 0
Discount Amount       0
Shipping Method       0
Shipping City         0
Shipping Zip          0
Payment Method        0
Refunded Amount       0
Id                    0
Risk Level            0
Source                0
Discount Code         0
Notes                 0
dtype: int64

We solved all the Nan values issues.

### Order-specific data: Data cleaning

Now we don't have NaN values but we need to check the content of the variables in order to clean it.

In [19]:
orders.head()

,index,Name,Customer,Financial Status,Fulfillment Status,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,...,Shipping Method,Shipping City,Shipping Zip,Payment Method,Refunded Amount,Id,Risk Level,Source,Discount Code,Notes
0,0,#1247,1.0,paid,fulfilled,yes,EUR,59.0,4.9,0.0,...,EnvÃ­o estÃ¡ndar,Barcelona,'08041,Stripe,0.0,8.925310e+11,Low,web,0,None
1,1,#1246,2.0,paid,unfulfilled,yes,EUR,94.0,0.0,0.0,...,EnvÃ­o gratuito,Barcelona,'08003,Stripe,0.0,8.918520e+11,Low,web,0,None
3,3,#1245,3.0,paid,fulfilled,yes,EUR,32.5,4.9,0.0,...,EnvÃ­o estÃ¡ndar,Barcelona,'08006,Stripe,0.0,8.917250e+11,Low,web,0,None
4,4,#1244,4.0,paid,fulfilled,yes,EUR,45.0,4.9,0.0,...,EnvÃ­o estÃ¡ndar,Barcelona,'08032,Stripe,0.0,8.910100e+11,Low,web,0,None
5,5,#1243,5.0,paid,fulfilled,yes,EUR,40.1,4.9,0.0,...,EnvÃ­o estÃ¡ndar,Barcelona,'08021,Stripe,0.0,8.869630e+11,Low,web,0,None

In [20]:
orders = orders.drop(columns = 'index')

#### Name -- OK

We have checked **'Name'** previously and looks OK for now, additionally, we might drop ot to preserve 'ID', weÂ¡ll decide this later

#### Customer

In [21]:
orders[orders['Customer'].isna()]

,Name,Customer,Financial Status,Fulfillment Status,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,Total,...,Shipping Method,Shipping City,Shipping Zip,Payment Method,Refunded Amount,Id,Risk Level,Source,Discount Code,Notes
501,#1155,NaN,paid,fulfilled,yes,EUR,25.0,0.0,0.0,25.0,...,Other,Unknown,Unknown,Stripe,0.0,7.481810e+11,Low,web,0,None
502,#1154,NaN,paid,fulfilled,yes,EUR,50.0,0.0,0.0,50.0,...,Other,Unknown,Unknown,Stripe,0.0,7.475270e+11,Low,web,0,None

We will drop the orders with no client as they refer to tests.

In [22]:
orders = orders[orders['Customer'].notna()]

We will change the type of the customer variable just because it should be an index and it makes more sense that it's an int and not a float.

In [23]:
orders['Customer'] = orders['Customer'].astype('int64')

#### Financial Status -- OK

In [24]:
orders['Financial Status'].value_counts()

paid                  146
partially_refunded     38
voided                 23
pending                 8
refunded                5
Name: Financial Status, dtype: int64

Looks good

#### Fulfillment Status -- OK

In [25]:
orders['Fulfillment Status'].value_counts()

fulfilled      197
unfulfilled     22
partial          1
Name: Fulfillment Status, dtype: int64

Also good

#### Accepts Marketing

In [26]:
orders['Accepts Marketing'].value_counts()

yes    185
no      35
Name: Accepts Marketing, dtype: int64

We will convert this to boolean (although, keeping int as type) to minimise work during the analysis later.

In [27]:
orders['Accepts Marketing'] = orders['Accepts Marketing'].map(lambda x: 1 if x=='yes' else 0)

#### Currency

In [28]:
orders['Currency'].value_counts()

EUR    220
Name: Currency, dtype: int64

We drop currency as all is EUR and it is irrelevant for the analysis.

In [29]:
orders = orders.drop(columns='Currency')

#### Subtotal -- OK

In [30]:
orders['Subtotal'].dtype

dtype('float64')

Also looks good

#### Shipping -- OK

In [31]:
orders['Shipping'].value_counts()

4.9    131
0.0     85
3.9      4
Name: Shipping, dtype: int64

Also looks good

#### Taxes -- OK

In [32]:
orders['Taxes'].value_counts()

0.00     214
10.40      1
2.72       1
53.80      1
17.34      1
1.21       1
8.04       1
Name: Taxes, dtype: int64

Some values are oddly high. Let's check the non-zero values

In [33]:
orders[orders['Taxes'] != 0.0]

,Name,Customer,Financial Status,Fulfillment Status,Accepts Marketing,Subtotal,Shipping,Taxes,Total,Discount Amount,Shipping Method,Shipping City,Shipping Zip,Payment Method,Refunded Amount,Id,Risk Level,Source,Discount Code,Notes
100,#1199,3,paid,fulfilled,1,310.00,0.0,53.80,310.00,0.0,EnvÃ­o gratuito,Barcelona,'08006,Stripe,0.00,8.374110e+11,Low,web,0,None
138,#1176,16,voided,unfulfilled,1,103.65,0.0,17.34,103.65,0.0,EnvÃ­o gratuito,Barcelona,'08021,custom,0.00,8.154090e+11,Low,web,0,None
146,#1174,16,voided,unfulfilled,1,66.75,4.9,10.40,71.65,0.0,EnvÃ­o estÃ¡ndar,Barcelona,'08006,custom,0.00,8.116200e+11,Low,web,0,None
1750,#1075,42,paid,fulfilled,1,71.20,4.9,8.04,71.20,4.9,EnvÃ­o estÃ¡ndar,Bellaterra,'08193,Stripe,0.00,5.015500e+11,Low,web,1,None
1756,#1074,43,partially_refunded,fulfilled,0,40.35,4.9,2.72,40.35,4.9,EnvÃ­o estÃ¡ndar,Barcelona,'08021,Stripe,2.85,5.012710e+11,Low,web,1,None
1874,#1065,30,paid,fulfilled,1,44.10,4.9,1.21,49.00,0.0,EnvÃ­o estÃ¡ndar,Barcelona,'08021,Stripe,0.00,4.844380e+11,Low,web,0,None

Looks OK

#### Total

In [34]:
orders[orders['Total'] != orders['Subtotal'] + orders['Shipping']- orders['Discount Amount']].head()

,Name,Customer,Financial Status,Fulfillment Status,Accepts Marketing,Subtotal,Shipping,Taxes,Total,Discount Amount,Shipping Method,Shipping City,Shipping Zip,Payment Method,Refunded Amount,Id,Risk Level,Source,Discount Code,Notes
10,#1240,6,paid,fulfilled,1,65.35,4.9,0.0,70.25,10.0,EnvÃ­o estÃ¡ndar,Barcelona,'08037,Stripe,0.0,8.853700e+11,Low,web,1,Â¿Podemos cambiar la lechuga larga por cualquie...
13,#1239,7,paid,fulfilled,1,77.45,0.0,0.0,77.45,10.0,EnvÃ­o gratuito,Barcelona,'08005,Stripe,0.0,8.843840e+11,Low,web,1,Cambiar hamburguesas de pollo por las de ternera
21,#1235,9,partially_refunded,fulfilled,1,133.95,0.0,0.0,133.95,10.0,EnvÃ­o gratuito,Barcelona,'08022,Stripe,26.0,8.807640e+11,Low,web,1,None
26,#1233,11,paid,fulfilled,1,69.00,0.0,0.0,69.00,10.0,EnvÃ­o gratuito,barcelona,'08021,Stripe,0.0,8.802880e+11,Low,web,1,None
52,#1222,5,paid,fulfilled,1,38.05,4.9,0.0,42.95,0.0,EnvÃ­o estÃ¡ndar,Barcelona,'08021,Stripe,0.0,8.700630e+11,Low,web,0,None

Depending on the type of discount, the total is calculated differently. Thus, to simplify, we'll only keep the 'Total' and drop 'Subtotal', 'Shipping' and 'Taxes'.

In [35]:
orders = orders.drop(columns=['Subtotal','Shipping','Taxes'])

#### Discount Amount <-- OK

In [36]:
orders['Discount Amount'].value_counts()

0.0     184
4.9      24
10.0     11
32.4      1
Name: Discount Amount, dtype: int64

Looks good. We'll keep this as we might want to know the effect of discounts on sales and profit.

#### Shipping Method

In [37]:
orders['Shipping Method'].value_counts()

EnvÃ­o estÃ¡ndar                              135
EnvÃ­o gratuito                               52
Recogida en el mercado                       21
Other                                         8
El reparto se realiza a travÃ©s de Shargo      4
Name: Shipping Method, dtype: int64

Looks good but we will replace the values to reduce the amount of text. This can be useful later if we want to display this in a plot

In [38]:
orders['Shipping Method'] = orders['Shipping Method'].map(lambda x: 'shargo' if x=='EnvÃ­o estÃ¡ndar' else (
    'gratuito' if x == 'EnvÃ­o gratuito' else ('mercado' if x == 'Recogida en el mercado' else (
        'shargo' if x == 'El reparto se realiza a travÃ©s de Shargo' else 'otros'))))

#### 	Shipping City

In [39]:
orders['Shipping City'].value_counts()

Barcelona                  169
Barcelona                   16
barcelona                   14
test                         7
Unknown                      6
jsjajsjsjjs                  2
BARCELONA                    2
dsa                          1
Sant feliu de Llobregat      1
khg                          1
Bellaterra                   1
Name: Shipping City, dtype: int64

Due to manual entry, we need to clean and 'standardise' these values

In [40]:
orders = orders.replace(['Barcelona ', ' Barcelona', 'barcelona', 'BARCELONA'], 'Barcelona')
orders = orders.replace(['khg', 'dsa', 'test', 'jsjajsjsjjs'], 'Unknown')

In [41]:
orders['Shipping City'].value_counts()

Barcelona                  201
Unknown                     17
Sant feliu de Llobregat      1
Bellaterra                   1
Name: Shipping City, dtype: int64

#### Shipping Zip

In [42]:
orders['Shipping Zip'].value_counts()

'08021     68
'08006     40
'08034     24
'08017     14
'08041      8
'08067      7
'08023      7
Unknown     6
'08012      6
'08037      5
'08005      5
'08009      4
'08008      4
'08029      4
'08036      3
'08032      3
'08018      2
'08024      2
'08028      2
'08022      2
'08193      1
'08003      1
'08980      1
'34569      1
Name: Shipping Zip, dtype: int64

Seems we have a quotation mark at the begining, we will remove this but leaving the variable as object.

In [43]:
orders['Shipping Zip'] = orders['Shipping Zip'].map(lambda x: x.strip("'"))

#### Payment Method -- OK

In [44]:
orders['Payment Method'].value_counts()

Stripe          168
custom           37
manual            8
Bank Deposit      7
Name: Payment Method, dtype: int64

Looks good

#### Refunded Amount -- OK

In [45]:
orders['Refunded Amount'].dtype

dtype('float64')

Looks good

#### Id

In [46]:
orders = orders.drop(columns='Id')

We drop 'Id' as it is redundant with 'Name'

#### Risk Level

In [47]:
orders['Risk Level'].value_counts()

Low    220
Name: Risk Level, dtype: int64

As all risk levels are Low, we will also drop this feature.

In [48]:
orders = orders.drop(columns = 'Risk Level')

#### Source

In [49]:
orders['Source'].value_counts()

web                    211
shopify_draft_order      7
580111                   1
iphone                   1
Name: Source, dtype: int64

The information looks OK but we will not use it, thus we drop it.

In [50]:
orders = orders.drop(columns='Source')

#### Discount Code -- OK

In [51]:
orders['Discount Code'].value_counts()

0    183
1     37
Name: Discount Code, dtype: int64

We cleaned this before so it's OK

#### Notes

We will drop the 'Notes' for now as the analysis of the content is a second phase of the project.

# Summary of the data

In [52]:
orders.head()

,Name,Customer,Financial Status,Fulfillment Status,Accepts Marketing,Total,Discount Amount,Shipping Method,Shipping City,Shipping Zip,Payment Method,Refunded Amount,Discount Code,Notes
0,#1247,1,paid,fulfilled,1,63.9,0.0,shargo,Barcelona,08041,Stripe,0.0,0,None
1,#1246,2,paid,unfulfilled,1,94.0,0.0,gratuito,Barcelona,08003,Stripe,0.0,0,None
3,#1245,3,paid,fulfilled,1,37.4,0.0,shargo,Barcelona,08006,Stripe,0.0,0,None
4,#1244,4,paid,fulfilled,1,49.9,0.0,shargo,Barcelona,08032,Stripe,0.0,0,None
5,#1243,5,paid,fulfilled,1,45.0,0.0,shargo,Barcelona,08021,Stripe,0.0,0,None

In [53]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220 entries, 0 to 2407
Data columns (total 14 columns):
Name                  220 non-null object
Customer              220 non-null int64
Financial Status      220 non-null object
Fulfillment Status    220 non-null object
Accepts Marketing     220 non-null int64
Total                 220 non-null float64
Discount Amount       220 non-null float64
Shipping Method       220 non-null object
Shipping City         220 non-null object
Shipping Zip          220 non-null object
Payment Method        220 non-null object
Refunded Amount       220 non-null float64
Discount Code         220 non-null int64
Notes                 220 non-null object
dtypes: float64(3), int64(3), object(8)
memory usage: 25.8+ KB

# Load the data to the DB

In [54]:
from sqlalchemy import create_engine


driver = 'mysql+pymysql:'
user = 'adria'
password = '00000'
ip = '35.187.114.125'
database = 'vimet'

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

In [55]:
orders.to_sql('orders', con = engine, if_exists='replace')